.list-group {
  // No need to set list-style: none; since `.list-group__item` is block level.
  padding: 0;
  margin: 0;
}

.list-group__item {
  color: $color-text-faded;
  display: block;
  padding: rem(8px) 0;

  & + & {
    border-top: 1px solid rgba(black, 0.2);
  }
}
