.pagehead {
  border-bottom: 2px solid rgba(black, 0.08);
  font-weight: $font-weight-normal;
  font-size: rem(24px);
  letter-spacing: -0.8px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0;
}
