---
title: Typography
layout: default
section: base
---

<h1>{{title}}</h1>


<h2>Headings</h2>
{{#example}}
<h1 class="heading-l">Headline large</h1>
<h2 class="heading-m">Headline medium</h2>
<h3 class="heading-s">Headline small</h3>
{{/example}}


<h2>Body copy</h2>
<p>The default <code>font-size</code> is <b>16px</b> with a <code>line-height</code> of <b>25px</b>. Additionally all paragraphs have a bottom margin of <b>30px</b>.</p>
{{#example}}
<p>Perspiciatis repellat itaque unde temporibus aperiam quibusdam, iusto ab distinctio repudiandae laudantium harum recusandae aut accusantium, dolore molestiae deserunt adipisci odio laborum. Omnis sunt vel, ducimus alias quae blanditiis nemo maxime et consequuntur molestias eos porro culpa placeat qui corporis eaque ipsum, labore veniam?</p>
<p>Alias reprehenderit incidunt ex iste, quo dolorem quibusdam reiciendis omnis ipsum quae assumenda magnam aspernatur delectus placeat blanditiis praesentium repellendus, saepe aut. Deleniti necessitatibus suscipit dolores dolore quos earum error fugit ullam velit expedita optio et laboriosam nisi nemo ad, accusamus, delectus, temporibus minus.</p>
<p>Iste nostrum ducimus culpa esse illum sunt, fugit numquam quidem tempora, ipsa alias molestias, corrupti saepe voluptate vitae est aspernatur dicta minima! Molestiae eos, assumenda incidunt nemo culpa, nam qui iusto soluta deserunt modi temporibus, aliquid quod. Temporibus rem quisquam, esse delectus saepe iste!</p>
{{/example}}


<h2>Blockquotes</h2>
{{#example}}
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</blockquote>
{{/example}}


<h2>Lists</h2>

<h3>Unordered list</h3>
<p>An unordered list represents a collection of items that do not have any particular order.</p>
{{#example}}
<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Vero officiis doloribus illo et fuga</li>
</ul>
{{/example}}


<h3>Ordered list</h3>
<p>An ordered list represents a collection of items that do have order and will be displayed with a preceding number.</p>
{{#example}}
<ol>
  <li>Omnis quos quisquam at et</li>
  <li>Qui ad nesciunt</li>
  <li>Odio perferendis consequatur a</li>
</ol>
{{/example}}
