---
title: Utility classes
layout: default
section: base
---

<h1>{{title}}</h1>
<p>All utility selectors are prefixed with <code>u-</code>.</p>


<h2>Text alignment</h2>
<p>Change the <code>text-align</code> on elements with a class.</p>
{{#example}}
<p class="u-text-left">Left aligned text.</p>
<p class="u-text-center">Center aligned text.</p>
<p class="u-text-right">Right aligned text.</p>
{{/example}}


<h2>Text colors</h2>
<p>Change the <code>color</code> of elements with a class.</p>
{{#example}}
<p class="u-text-primary">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<p class="u-text-faded">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
<p class="u-text-light">Consequat duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
<p class="u-text-lighter">Cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non.</p>
{{/example}}


<h2>Text decoration</h2>
{{#example}}
<p class="u-text-underline">Underlined text.</p>
{{/example}}


<h2>Text sizes</h2>
{{#example}}
<p class="u-text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
<p class="u-text-narrowed">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<p class="u-text-small">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
{{/example}}


<h2>Clearfix</h2>
<p>Easily clear <code>float</code>s by adding <code>.u-clearfix</code> to the parent element.</p>
{{#example}}
<div class="u-clearfix">
  <!-- Floating content here -->
</div>
{{/example}}


<h2>Truncation</h2>
<p>Will shorten text with an ellipsis.</p>
{{#example}}
<p class="u-text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{{/example}}
