---
title: On-Site
layout: page
section: example
---

<div class="l-container l-container--medium">
  <div class="marketing-header">
    <h1 class="marketing-header__title">npm On-Site</h1>
    <h2 class="marketing-header__lead">Run your own on-premises npm registry</h2>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dolorem sunt eos voluptates at minus exercitationem, ad sit? Non iusto fugit quibusdam totam enim iste error eaque, natus quae adipisci!</p>

  <ul>
    <li>easy internal sharing of private modules</li>
    <li>better control of development and deployment workflow</li>
    <li>stricter security around deploying open-source modules</li>
    <li>compliance with legal requirements to host code on-premises</li>
  </ul>

  <a href="#" class="button button--block">Try npm On-Site for free</a>
  <p class="u-text-center">or learn more about <a href="#">pricing</a>.</p>

  <h2>Features</h2>
  <ul>
    <li><a href="#private">Private npm registry that just works</a></li>
    <li><a href="#scoped">Scoped modules give you private code, simply</a></li>
    <li><a href="#conflicts">Eliminate conflicts with public modules</a></li>
    <li><a href="#compatible">Works in concert with the public registry</a></li>
    <li><a href="#mirror">Selectively mirror the public registry</a></li>
    <li><a href="#install">Simple installation with npm</a></li>
    <li><a href="#github">Integrates with GitHub enterprise and other OAuth providers</a></li>
  </ul>

  <h3>See it in action</h3>
  <div class="flex-video">
    <iframe src="//www.youtube.com/embed/XNr48kvz38o?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <h3><a name="private">npm On-Site is a private npm registry</a></h3>
  <p>npm On-Site is an npm registry that works with the same standard npm client you already use, but provides the features needed by larger organizations who are now enthusiastically adopting node. It's built by npm, Inc., the sponsor of the npm open source project and the host of the public npm registry.</p>

  <p class="heading-l u-text-center">…</p>
</div>
