---
title: Package
layout: page
section: example
---

<div class="l-container">
  <div class="l-content">
    <div class="package-header">
      <h1 class="package-header__name"><a href="#">package-name</a> <span class="badge">public</span></h1>
      <p class="package-header__description">package description</p>
    </div>

    <blockquote>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </blockquote>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum architecto nemo libero optio assumenda modi ullam perferendis consequuntur id similique tempora porro natus reiciendis impedit, iste, magni quod esse autem?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate possimus harum perferendis aperiam modi aspernatur aliquam libero, illo excepturi earum fuga cum dolores officia autem sit voluptatibus dolor fugit reprehenderit.</p>

    <h2>Headline</h2>
    <p>Consectetur adipisicing elit.</p>
    <pre><code>npm install npm@latest -g</code></pre>

    <p class="heading-l u-text-center">…</p>
  </div>

  <div class="l-sidebar">
    <label class="copy-code icon-download">
      <input type="text" class="copy-code__text" value="npm install package-name" readonly onclick="this.focus();this.select()" aria-label="npm install command">
    </label>
    <br>

    <ul class="list-group">
      <li class="list-group__item">
        <img src="{{baseurl}}/assets/images/placeholder.png" class="avatar avatar--tiny">&nbsp;&nbsp;<a href="#" class="link-secondary" class="link-secondary"><b>username</b></a> published some time ago</li>
      <li class="list-group__item"><b>1.0.0</b> is the latest release</li>
      <li class="list-group__item"><a href="#" class="link-secondary">github.com/username/package-name</a></li>
      <li class="list-group__item"><a href="#" class="link-secondary">MIT</a> license</li>
    </ul>

    <h3 class="u-text-primary">Collaborators</h3>
    <a href="#"><img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item"></a>
    <a href="#"><img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item"></a>
    <a href="#" title="add a collaborator" class="avatar avatar--small avatar--group-item avatar--group-button">+</a>

    <h3 class="u-text-primary">Stats</h3>
    <ul class="list-group">
      <li class="list-group__item"><b>n</b> downloads in the last day</li>
      <li class="list-group__item"><b>n</b> downloads in the last week</li>
      <li class="list-group__item"><b>n</b> downloads in the last month</li>
      <li class="list-group__item"><a href="#" class="link-secondary">n open issues</a> on Github</li>
      <li class="list-group__item"><a href="#" class="link-secondary">n open pull requests</a> on Github</li>
    </ul>

    <h3 class="u-text-primary">Keywords</h3>
    <p>
      <a href="#" class="link-muted">keyword1</a>,
      <a href="#" class="link-muted">keyword2</a>,
      <a href="#" class="link-muted">keyword3</a>,
      <a href="#" class="link-muted">keyword4</a>,
      <a href="#" class="link-muted">keyword5</a>,
      <a href="#" class="link-muted">keyword6</a>,
      <a href="#" class="link-muted">keyword7</a>,
      <a href="#" class="link-muted">keyword8</a>
    </p>

    <h3 class="u-text-primary">Dependencies</h3>
    <p>None</p>
  </div>
</div>
