<header class="docs-header">
  <div class="l-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="28" viewBox="0 0 18 7" class="docs-header__logo">
      <a xlink:href="{{baseurl}}/">
        <path fill="#ffffff" d="M0,0v6h5v1h4v-1h9v-6"></path>
        <path fill="#cb3837" d="M1,1v4h2v-3h1v3h1v-4h1v5h2v-4h1v2h-1v1h2v-4h1v4h2v-3h1v3h1v-3h1v3h1v-4"></path>
      </a>
    </svg>
    <span class="docs-header__title">pattern library v{{version}}</span>
    <nav>
      {{#each nav}}
      <a href="{{../baseurl}}/{{this.0.path}}" class="docs-header__link {{#equal @key 'section'}}docs-header__link--active{{/equal}}">{{@key}}</a>
      {{/each}}
    </nav>
  </div>
</header>
