<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{#if title}}{{title}}{{else}}npm pattern library{{/if}}</title>

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="shortcut icon" href="{{baseurl}}/assets/images/favicon.ico">
<link rel="stylesheet" href="{{baseurl}}/assets/stylesheets/bundle.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
<script>var npm = { page: { baseurl: '{{baseurl}}' } };</script>
