---
title: Avatars
section: components
---

<h1>{{title}}</h1>


<h2>Sizes</h2>
{{#example}}
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small">
<img src="{{baseurl}}/assets/images/placeholder.png" width="20" height="20" class="avatar avatar--tiny">
{{/example}}


<h2>Avatar groups</h2>
{{#example}}
<!-- The wrapper `div` is just to restrict the width to demonstrate multiple rows. -->
<div style="width: 30%;">

<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<img src="{{baseurl}}/assets/images/placeholder.png" width="45" height="45" class="avatar avatar--small avatar--group-item">
<a href="#" class="avatar avatar--small avatar--group-item avatar--group-button">+</a>

</div>
{{/example}}

