---
title: Footer
section: components
---

<h1>{{title}}</h1>


{{#example}}
<footer class="l-container">
  <nav class="footer">
    {{#repeat 3}}
    <div class="footer__group">
      <h3 class="footer__group-heading">Footer group heading</h3>
      <a href="#" class="footer__group-item">Item 1</a>
      <a href="#" class="footer__group-item">Item 2</a>
      <a href="#" class="footer__group-item">Item 3</a>
      <a href="#" class="footer__group-item">Item 3</a>
    </div>
    {{/repeat}}
  </nav>
  <div class="footer-mini">npm loves you</div>
</footer>
{{/example}}
