---
title: List group
section: components
---

<h1>{{title}}</h1>


{{#example}}
<ul class="list-group">
  <li class="list-group__item"><b>n</b> downloads in the last day</li>
  <li class="list-group__item"><b>n</b> downloads in the last week</li>
  <li class="list-group__item"><b>n</b> downloads in the last month</li>
  <li class="list-group__item"><a href="#" class="link-secondary">n open issues</a> on Github</li>
  <li class="list-group__item"><a href="#" class="link-secondary">n open pull requests</a> on Github</li>
</ul>
{{/example}}
