---
title: Media object
section: components
---

<h1>{{title}}</h1>


{{#example}}
<div class="media">
  <div class="media__image">
    <img src="{{baseurl}}/assets/images/placeholder.png" width="100" height="100">
  </div>
  <div class="media__body">
    <h3>Heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rerum eum vero aspernatur amet voluptas hic soluta incidunt distinctio quis quasi nemo ratione laboriosam, consequuntur eos! Labore consequatur fuga, consectetur.</p>
  </div>
</div>
{{/example}}


<h2>Center aligned</h2>
{{#example}}
<div class="media media--center">
  <div class="media__image">
    <img src="{{baseurl}}/assets/images/placeholder.png" width="100" height="100">
  </div>
  <div class="media__body">
    <h3>Heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rerum eum vero aspernatur amet voluptas hic soluta incidunt distinctio quis quasi nemo ratione laboriosam, consequuntur eos! Labore consequatur fuga, consectetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ab sequi earum cum, fugit, at ipsam ex quas fugiat! Maiores perspiciatis provident, ducimus labore error impedit incidunt nihil nobis. Eum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste repellendus fugiat quo eligendi in, expedita itaque rerum maxime quae maiores deleniti doloribus labore non unde temporibus eos, omnis optio quam.</p>
  </div>
</div>
{{/example}}


<h2>Reverse</h2>
{{#example}}
<div class="media media--reverse">
  <div class="media__image">
    <img src="{{baseurl}}/assets/images/placeholder.png" width="100" height="100">
  </div>
  <div class="media__body">
    <h3>Heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rerum eum vero aspernatur amet voluptas hic soluta incidunt distinctio quis quasi nemo ratione laboriosam, consequuntur eos! Labore consequatur fuga, consectetur.</p>
  </div>
</div>
{{/example}}
