---
title: Package list
section: components
---

<h1>{{title}}</h1>


{{#example}}
<ul class="package-list">
  <li class="package-list__item">
    <h3 class="package-list__item-title"><a href="#">name</a>&nbsp;&nbsp;<a href="#" class="package-list__item-title-author">author</a></h3>
    <div class="package-list__item-description">
      <p>description</p>
      <p><i class="icon-star"></i>&nbsp; 0 &nbsp;&nbsp; v1.0.0</p>
      <p><i class="icon-tag"></i>&nbsp; keyword1, keyword2, keyword3, keyword4, keyword5, keyword6, keyword7, keyword8</p>
    </div>
  </li>
</ul>
{{/example}}
