---
title: Top nav
section: components
---

<h1>{{title}}</h1>


{{#example}}
<nav class="top-nav">
  <div class="l-container">
    <a href="#" class="top-nav__item top-nav__item--npm-expansions">npm expansions</a>
    <a href="#" class="top-nav__item top-nav__item--active">item 1</a>
    <a href="#" class="top-nav__item">item 2</a>
    <a href="#" class="top-nav__item">item 3</a>
    <a href="#" class="top-nav__item">item 4</a>
    <a href="#" class="top-nav__item">item 5</a>
  </div>
</nav>
{{/example}}
